<div id="titulo2">
	<h1 class="left">Síguenos</h1>
	<hr class="left">
</div>

<div class="container">
<div id="insta">
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-3b9d73f5-9a34-415f-a71a-568be93fcae6"></div>
	</div>
</div>