<div id= "banner" class="cover_home">
<div id="titulo">
	<h1 class="white">Disfruta el camino</h1>
	<hr class="left">
</div>
</div>

<div class="container">
	<div id="frase">
		<h4>“Gente ordanaria, <br>
haciendo cosas extraordinarias”</h4>
	</div>
</div>

<div id="evento1" class="cover_event1 center">
		<h3 class="white">Campamento en las manzanas</h3>
		<p class="white">Jueves 25 marzo, 2018. Las manzanas Guadalajara</p>
		<button class="button button_blue">Más información</button>
</div>

<div class="container">
<div id="cats">
	<div class="row">
		<div class="col-md-6">
			<div id="cat_izq">
				<h2 class="white">Eventos</h2>
			</div>
		</div>
		<div class="col-md-6">
			<div id="cat_der">
				<h2 class="white">Tienda</h2>
			</div>
		</div>
	</div>
</div>
</div>

<div id="titulo2">
	<h1 class="left">Inspiración</h1>
	<hr class="left">
</div>


	<div id="blog">
<div id="fm-medium-embed"></div>
<script src="//data.feedmirror.com/embed.js?t=13323"></script>
<script type="text/javascript">
  var fmSettings = {
    feedURL: 'https://data.feedmirror.com/-L5qyxzNYpfXD3sIJk39.json',
    integration: 'medium-embed',
    linkOutText: 'Seguir leyendo...',
    linkToMediumProfileText: 'Más Artículos',
    postsCount:  4,
    element: 'fm-medium-embed'
  };
  feedmirror.initialize(fmSettings);
</script>
	</div>


<div id="evento1" class="cover_event2 center">
	<div class="container">
		<h5>Regístrate para recibir antes que nadie noticias e información de Free Spirits</h5>
<div id="formi">
	<ul>
		<li><input type="text"></li>
		<li><button class="button2 button_blue">Regístrame</button></li>
	</ul>
</div>
	</div>
</div>





<%= render 'instagram' %>



