<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="contact2">

<h1>Nuevo Evento</h1>

<%= render 'form', event: @event %>

<%= link_to 'Back', events_path %>


</div>
</div>
</div>
</div>