/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$blue: #3C53A4;
$grey: #4A4A4A;

@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');


body {
-webkit-font-smoothing: antialiased;
color: $blue;
text-rendering: optimizeLegibility;
}     

h1, h2, h3, h4, h5, h6 {    
  font-family: 'Raleway', sans-serif;
}

p, a {
  font-family: 'Roboto Slab', serif;
}

  a {
    &:hover {
      text-decoration: none;
      background-color: transparent;
      color: $blue;
    }
  }

.button {
  transition: background-color .15s linear;
  font-size: 13px;
  min-width: 80px;
  font-family: 'Gotham_bold', sans-serif !important;
  border-radius: 2px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 1rem;
  background-color: transparent;
}

.button_blue {
  color: white;
  background-color: $blue;
  height: 40px;
  border: solid 1.2px white;
  font-size: 18px;
  &:hover {
    color: $blue;
    background-color: white;
    border: solid 1.2px $blue;
  }

  &:hover > a {
  color: white;
  background-color: $blue;
  }

}

.button_block {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
  font-weight: 700;
}


#banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /*margin-bottom: 1rem;*/
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: #989898;
  padding: 30px;
}

.cover_home {
  background-image: image-url("innova_cover.jpg");
  height: 40vh;
}

.white {
  color: white;
}

.center {
  text-align: center;
}



  @media (max-width: 800px)
{

#banner {
background-attachment: unset;
}
}